

// BUTTONS

@import 'vars';

.buttons {
  margin-top: $base-line-height;
  font-size: .65rem;
}

.button{
  display: inline-block;
  -webkit-appearance: none;
  text-transform: uppercase;
  border: 1px solid $red;
  background: white;
  box-shadow: $box-shadow-inert;
  color: $red;
  font-weight: 900;
  padding: $base-line-height / 2;
  font-family: $font;
  border-radius: 2px;
  margin-right: $base-line-height / 4;
  cursor: pointer;
  top: 0;
  left: 0;
  transition: .2s;
  &:focus {
    outline: 0;
  }
  &:hover{
    cursor: pointer;
    box-shadow: $box-shadow-hover;
    position: relative;
    top: -.1em;
    left: -.1em;
  }
}

.button-small{
  @extend .button;
  font-weight: 300;
  border: 0;
  font-size: $base-line-height / 2;
  padding: $base-line-height / 4;
  &:hover{
    color: white;
    background-color: $red;
  }
}

.button-simple {
  position: static;
  border: 0;
  border-bottom: 0.125rem solid rgba(0, 0, 0, 0.05);
  font-size: inherit;
  font-weight: 600;
  text-transform: none;
  background: 0;
  transition: border-color 0.25s;

  &[class] {
    box-shadow: none;
  }

  &:hover,
  &:focus {
    border-bottom-color: rgba(0, 0, 0, 0.25);
  }
}
