
// CIRCLE

@import 'vars';

.circle {
  width: $base-line-height * 5;
  height: $base-line-height * 5;
  margin: 0 0 $base-line-height 0;
  background-color: white;
  border-radius: 8em;
  border: $base-line-height * .15 solid white;
  background-size: cover;
  box-shadow: 1px 2px 4px rgba(0,0,0,.25);
}
