
// TYPOGRAPHY

a {
  color: $red;
  text-decoration: none;
  &:hover, &:active, &:focus {
    text-decoration: none;
  }
}

p {
  font-feature-settings: 'kern', 'onum', 'liga';
  // @include type-setting(0);
  // margin: 1 * $base-line-height 0;
}

h1, h2, h3, h4, h5, h6 {
  color: $black;
  font-feature-settings: 'dlig', 'liga', 'lnum', 'kern';
  font-style: normal;
}

// h1 {
//   @include type-setting(3);
//   margin: 1 * $base-line-height 0;
// }
//
// h2 {
//   @include type-setting(2);
//   margin: 1 * $base-line-height 0;
// }
//
// h3 {
//   @include type-setting(1);
//   margin: 1 * $base-line-height 0;
// }
//
// h4 {
//   @include type-setting(-1);
//   margin: 1 * $base-line-height 0;
// }

b, strong, .bold {
  font-weight: bold;
}

em, i, .italic {
  font-style: italic;
}
