///
// VARS
///

@import 'mixins';
@import '~modularscale-sass/stylesheets/modularscale';

// Breakpoints
$breakpoints: (
  zero: 0,
  phone: 413px,
  phablet: 550px,
  tablet: 768px,
  laptop: 1024px,
  desktop: 1280px,
  full: 1440px,
  max: 1680px
);

// Colors
$red: #c41230;
$black: #34495e;
$primary-grey: #eee;

// Typography
$font: 'Open Sans', Helvetica, sans-serif;
$base-font-size: 1rem;
$modularscale: (
  base: $base-font-size,
  ratio: 1.333
);

$base-line-height: 1.333rem;
$type-settings: (
  -1: (
    font-size: ms(-1),
    line-height: $base-line-height
  ),
  0: (
    font-size: ms(0),
    line-height: $base-line-height
  ),
  1: (
    font-size: ms(1),
    line-height: $base-line-height * 1.5
  ),
  2: (
    font-size: ms(2),
    line-height: $base-line-height * 2
  ),
  3: (
    font-size: ms(3),
    line-height: $base-line-height * 2
  ),
  4: (
    font-size: ms(5),
    line-height: $base-line-height * 2
  ),
);

// Shadows
$box-shadow-inert: 0 .1rem .15rem rgba(0,0,0,.2);
$box-shadow-hover: 0 .2rem .5rem rgba(0,0,0,.3);

// Layout variables
$max-width: map-get($breakpoints, full);
$default-gutter: $base-line-height * 1.5;
