$red: #c41230;

$phone: "only screen and (max-width: 767px)"; // phones
$tab: "only screen and (min-width: 768px)";   // tablet
$desk: "only screen and (min-width: 1025px)"; // desktop
$cap: "only screen and (min-width: 1140px)";  // capped
