
// GLOBALS

@import 'reset';
@import 'vars';
@import 'mixins';
@import 'typography';

// site

html, body {
  background: $primary-grey;
  font-family: $font;
}

html{
  @include breakpoint-min(phone) {
    font-size: 1em;
  }
  @include breakpoint-min(tablet) {
    font-size: 1.125em;
  }
  @include breakpoint-min(laptop) {
    font-size: 1.2em;
  }
  @include breakpoint-min(desktop) {
    font-size: 1.35em;
  }
  @include breakpoint-min(full) {
    font-size: 1.5em;
  }
}

// animations

.loading-enter-active, .loading-leave-active {
  transition: opacity 0.2s ease;
}

.loading-enter, .loading-leave-active {
  opacity: 0;
}
