
// GLOBALS
@import 'reset';
@import 'vars';
@import 'mixins';
@import 'typography';
@import 'card';
@import 'circle';
@import 'button';
@import "~bootstrap/scss/bootstrap";

// site
html, body {
  background: $primary-grey;
  font-family: $font;

  &.md-theme-default {
    background-color: $primary-grey;
  }
}

body {
  @include breakpoint-min(tablet) {
    font-size: 1em;
  }
  @include breakpoint-min(laptop) {
    font-size: 1.05em;
  }
  @include breakpoint-min(desktop) {
    font-size: 1.15em;
  }
  @include breakpoint-min(full) {
    font-size: 1.25em;
  }
  color: #333;
}

h3 {
  color: $black;
}

a {
  color: $red;
}

// Animations
.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .15s;
}

.fade-enter-active {
  transition-delay: .15s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

// container restraints
.content-page{
  padding: $base-line-height;
  &:hover{
    top: 0;
    left: 0;
    box-shadow: $box-shadow-inert;
  }
  @include breakpoint-min(desktop) {
    padding: $base-line-height * 2;
    margin: $base-line-height auto;
    max-width: $max-width;
  }
  @include breakpoint-max(full){
    margin: $base-line-height auto;
  }
}

.display-page{
  @include breakpoint-min(desktop) {
    margin: $base-line-height auto;
    max-width: $max-width;
  }
}

.data-page{
  @include breakpoint-min(desktop) {
    margin-left: auto;
    margin-right: auto;
    max-width: $max-width;
  }
}

///
// Utility classes
///
// Helps contain content to same width on fluid layouts
.u-content-container {
  @include breakpoint-min(full) {
    max-width: $max-width;
    margin-left: auto;
    margin-right: auto;
  }
}

// For screen readers only (visually hidden but available to assistive technology)
.u-sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  -webkit-clip-path: inset(50%);
  clip-path: inset(50%);
  border: 0;
}
