
// GLOBALS

@import 'reset';
@import 'vars';
@import 'mixins';
@import 'typography';
@import 'card';
@import 'circle';
@import 'button';

// site

html, body {
  background: $primary-grey;
  font-family: $font;
}

html{
  @include breakpoint-max(phone) {
    font-size: .9em;
  }
  @include breakpoint-min(phone) {
    font-size: 1em;
  }
  @include breakpoint-min(tablet) {
    font-size: 1.125em;
  }
  @include breakpoint-min(laptop) {
    font-size: 1.2em;
  }
  @include breakpoint-min(desktop) {
    font-size: 1.35em;
  }
  @include breakpoint-min(full) {
    font-size: 1.5em;
  }
}

// animations

.fade-enter-active, .fade-leave-active {
  transition-property: opacity;
  transition-duration: .15s;
}

.fade-enter-active {
  transition-delay: .15s;
}

.fade-enter, .fade-leave-active {
  opacity: 0
}

// container restraints

.content-page{
  padding: $base-line-height;
  &:hover{
    top: 0;
    left: 0;
    box-shadow: $box-shadow-inert;
  }
  @include breakpoint-min(desktop) {
    padding: $base-line-height * 2;
    margin: $base-line-height auto;
    max-width: 1440px;
  }
  @include breakpoint-max(full){
    margin: $base-line-height auto;    
  }
}

.display-page{
  @include breakpoint-min(desktop) {
    margin: $base-line-height auto;
    max-width: 1440px;
  }
}

.data-page{
  @include breakpoint-min(desktop) {
    margin-left: auto;
    margin-right: auto;
    max-width: 1440px;
  }
}
