# dist is built dynamically
dist/

# Normal computer stuff.
.DS_Store
logs
*.log

# IDE Stuff
.vs-code
.idea

# Node stuff
node_modules
npm-debug.log

# build is for construction on host server.
# build

# Google build and environment variables
.env
app.yaml
api.js
