div(class="modal modal_explore")
  div(class="modal_contents")
    div(class="container")
      section(class="page_title large")
        div Explore
      section(class="explore")
        div(class="gutter-large")
          div(class="col-1-3")
            span(class="h2 large") Prospective
            ul(class="list_block_links")
              li #[a(href="#") #[span Learn about our application and admission process]]
              li #[a(href="#") #[span Schedule a time to visit the CMU campus]]
              li #[a(href="#") #[span Learn about our services for international students]]
              li #[a(href="#") #[span Explore our programs and departments]]
              li #[a(href="#") #[span Learn about our application and admission process]]
          div(class="col-1-3")
            span(class="h2 large") Current
            ul(class="list_block_links")
              li #[a(href="#") #[span Check out the course catalog for the upcoming semester]]
              li #[a(href="#") #[span Find a SCS faculty member, staff, or student]]
              li #[a(href="#") #[span See what's happening in our research areas]]
              li #[a(href="#") #[span Education something something something]]
              li #[a(href="#") #[span Attend an upcoming event or check out recent news]]
          div(class="col-1-3")
            span(class="h2 large") Alumni
            ul(class="list_block_links")
              li #[a(href="#") #[span Attend an upcoming event or check out recent news]]
              li #[a(href="#") #[span Make a donation and support your university]]
              li #[a(href="#") #[span Learn about other ways you can be involved]]
              li #[a(href="#") #[span Visit the SCS Career Center to see how you can help]]
              li #[a(href="#") #[span Something something something]]
            
      section(class="trending")
        span(class="h2") Popular in the last month
        ul(class="list_trending list_multi_column visible")
          li(class="theme_publications")
            a(href="#") #[span(class="item_title") Personalized Survival Prediction with Contextual Explanation Networks] #[span(class="label") publications] #[span(class="rank", style="width:100%")]
          li(class="theme_default")
            a(href="#") #[span(class="item_title") CMU Master's Programs] #[span(class="label") people] #[span(class="rank", style="width:50%")]
          li(class="theme_news")
            a(href="#") #[span(class="item_title") Educational App] #[span(class="label") news] #[span(class="rank", style="width:30%")]
          li(class="theme_events")
            a(href="#") #[span(class="item_title") Autonomous Vision Workshop] #[span(class="label") events] #[span(class="rank", style="width:20%")]
          li(class="theme_news")
            a(href="#") #[span(class="item_title") Actuation Gives New Dimensions to an Old Material] #[span(class="label") news] #[span(class="rank", style="width:10%")]
          li(class="theme_people")
            a(href="#") #[span(class="item_title") Jonathan Aldrich] #[span(class="label") people] #[span(class="rank", style="width:5%")]   
