.content-container {
  font-size: 1em;

  h1, h2, h3 {
    position: relative;
  }

  h4 {
    color: #7f8c8d;
  }

  img {
    display: block;
    max-width: 100%;
    margin: 0 auto;
    width: 100%;
  }

  p, ul, ol {
    margin: 1.2em 0;
    padding: 1em 0 0 0;
    word-spacing: 0.05em;
  }

  figure, p {
    margin-left: 0;
  }

  p, ul, ol {
    line-height: 1.5em;
  }

  ul, ol {
    padding-left: 1.5em;
  }

  blockquote {
    border-left: 4px solid;
    margin: 1.2em 0;
    padding-left: 20px;
  }

  blockquote p {
    margin-left: 0;
    margin: 0.6em 0;
  }
}
