
*, *:before, *:after {
  box-sizing: border-box;
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
}

html, body {
  height: auto;
  margin: 0;
  padding: 0;
  position: relative;
}

html {
  background: #fff;
  @media only screen and (min-width: 768px) {
    background: #f9f9fc;
  }
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-y: scroll;
  font-family: 'Noto Sans', Helvetica, sans-serif;
  font-size: 15px;
  margin: 0 auto;
  background-image: url("./assets/img/geometry.png");
  max-width: 1520px;
}

a {
  color: #c41230;
}

h1, h2, h3, h4, h5, h6, strong {
  font-weight: 600;
  color: #2c3e50;
}

p{
  color: #2c3e50;
}

pre, code {
  font-size: 0.8em;
  background: #f8f8f8;
  border-radius: 3px;
  -webkit-font-smoothing: initial;
  -moz-osx-font-smoothing: initial;
  font-size: 1em;
  white-space: pre;
}

code {
  color: #c41230;
  padding: 3px 5px;
  margin: 0 2px;
  white-space: nowrap;
}

blockquote {
  margin: 0;
  padding: 1px 15px;
  color: #777;
  background: #f4f4f4;
  border-left: 4px solid #c41230;
}

blockquote > :first-child {
  margin-top: 0;
}

blockquote > :last-child {
  margin-bottom: 0;
}
ul, menu, dir{
  -webkit-padding-start: 0px;
}


table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  width: 100%;
  overflow: auto;
  word-break: normal;
  word-break: keep-all;
}

table th {
  font-weight: 600;
  background: #f7f8ff;
}

table th, table td {
  padding: 6px 13px;
  border: 1px solid #ddd;
}

table tr {
  background: #fff;
  border-top: 1px solid #ccc;
}

table tr:nth-child(2n) {
  background: #f8f8f8;
}

img, video {
  border: none;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: underline;
}

a.button {
  display: inline-block;
  background: #c41230;
  color: #fff;
  font-size: 0.9em;
  text-align: center;
  vertical-align: middle;
  min-width: 5vw;
  padding: 0.625em 1.25em;
  transition: all 0.15s ease;
  text-transform: uppercase;
}

a.button:hover {
  text-decoration: none;
}

.fade-enter-active,
.fade-leave-active {
  transition: opacity 0.2s ease;
}

.fade-enter,
.fade-leave-active {
  opacity: 0;
}

.loading-enter-active,
.loading-leave-active {
  transition: opacity 0.2s ease;
}

.loading-enter,
.loading-leave-active {
  opacity: 0;
}

.view-enter-active,
.view-leave-active {
  transition: opacity 0.2s ease;
}

.view-enter,
.view-leave-active {
  opacity: 0;
}

.programs .nav a {
  text-decoration: none;
  display: inline-block;
  padding: 0.2em 0.6em;
  background: #c41230;
  color: #fff;
  font-weight: 800;
  font-size: 1rem;
}

.programs .nav a:hover {
  color: #c41230;
  background: #fff;
}

main.body{
  margin-top: 3.7em;
  @media only screen and (max-width: 768px) {
    margin-top: 0;
  }
}

@media screen and (max-width: 1520px) {
  body {
    background-attachment: fixed;
  }
}
