button{
  appearance: none;
  outline: none;
  border: 0;
  background: none;
}
.button_back{
  background: darken($gray,7%) center no-repeat url('../images/icon_arrow_left.svg');
  height: 30px;
  width: 30px;
  display: block;
  text-indent: -9999px;
}
.button_show_more{
  text-transform: uppercase;
  font-weight: 600;
  position: relative;
  padding-right: 35px;
  display: block;
  margin: auto;
  margin-bottom: 4em;
}
.button_show_more:before{
  content: '';
  position: absolute;
  top: 50%;
  right: 0;
  height: 20px;
  width: 20px;
  transform: translateY(-50%);
  background: 5px 5px no-repeat url('../images/icon_open_close.svg');
  border: 2px solid black;
}
.button_arrow{
  position: relative;
  padding-right: 30px;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 1em;
  font-size: 1em;
  color: white;
  margin-bottom: 2em;
  display: inline-block;
  &:after{
    content: '';
    height: 15px;
    width: 20px;
    position: absolute;
    top: calc(50% - 1px);
    right: 0;
    transform: translateY(-50%);
    background: center no-repeat url('../images/icon_arrow_right_red.svg');
  }
}
.filter_toggle{
  width: 100%;
  padding: .5em 0;
  border: 2px solid black;
  position: relative;
  text-transform: uppercase;
  font-size: .85em;
  font-weight: 600;
  background: none;
}
.filter_toggle:before{
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  height: 17px;
  width: 19px;
  background: 4px 2px no-repeat url('../images/icon_open_close.svg');
}
.filter_toggle.open:before{
  background-position: 4px -19px;
}
.filter_inline_toggle{
  @extend .filter_toggle;
  padding: 0 1em;
  padding-right: 2.5em;
  border: 0;
  display: none;
  &:before{
    height: 15px;
    right: 0;
    border: 2px solid black;
  }
  &.open{
    background-position: 4px -19px;
  }
}
@media screen and (min-width:50em){
  .filter_inline_toggle{
    display: inline-block;
  }
}
