a{
  outline: none;
}
.link_absolute{
  position: absolute;
  z-index: 10;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  text-indent: -9999px;
  color: white;
}
.list_cards.large .link_absolute{
  color: black;
}
.list_card:hover .label a{
  background: darken($research,15%);
}
.list_card .label a{
  color: white;
  color: $research;
  position: relative;
  z-index: 11;
  padding: 0.5em 1em;
  text-decoration: none;
  background: darken($gray,75%);
  transition: all 350ms ease;
  &:hover{
    color: white;
    background: $red;
  }
}
.list_card a + a{
  margin-left: 1em;
}
.link_explore{
  color: #FF7F73;
  background: center left no-repeat url('../images/icon_explore_inline.svg');
  padding-left: 2.75em;
  display: block;
  line-height: 1.4em;
  font-style: italic;
}
.link_more{
  color: $red;
  text-transform: uppercase;
  font-size: 0.8em;
  letter-spacing: 1px;
  font-weight: 600;
  padding-right: 2.5em;
  position: relative;
  &:after{
    content: '';
    position: absolute;
    top: 50%;
    right: 0;
    height: 20px;
    width: 20px;
    background: right no-repeat url('../images/icon_arrow_stroke_right.svg');
    transform: translateY(-50%);
  }
}
.link_logo{
  position: relative;
  z-index: 100;
}
