body{
  font-size: 14px;
  font-family: $roboto;
  @media screen and (min-width: 50em){
    font-size: 16px;
  }
  &.hold .section_title{
    opacity: 0;
    visibility: hidden;
    display: none;
  }
}
[class*="theme_"]{
  .section_title.has_list, .has_back .section_title{
    min-width: inherit !important;
    cursor: pointer;
    text-decoration: none;
  }
  .section_title.has_list:before, .has_back .section_title:before{
    margin-left: -2em;
    margin-right: -2em;
  }
}
.section_title.has_list:before{
  box-shadow: 0 0 10px rgba(0,0,0,0.15);
}
.section_title.has_list:after, .has_back .section_title:after{
  content: '';
  position: absolute;
  top: 50%;
  right: 1em;
  transform: translateY(-50%);
  display: block;
  width: 12px;
  height: 20px;
  background: center no-repeat url('../images/icon_arrow_down.svg');
}
.has_back .section_title:after{
  background: center no-repeat url('../images/icon_arrow_left.svg');
  right: inherit;
  left: 1em;
}
[class*="theme_"]{
  .section_title{
    margin: 1em 0 0 0;
    padding: 5px 0;
    display: inline-block;
    text-transform: uppercase;
    position: relative;
    font-size: 1em;
    font-weight: 700;
    text-align: center;
    letter-spacing: 0.75px;
    order: 3;
    width: 100%;
  }
}
h1{
  font-size: 2.25em;
  font-weight: 500;
  margin: 0;
  padding: 0;
  @media screen and (min-width: 50em){
    font-size: 3.25em;
  }
}
h2, .h2{
  font-size: 1.15em;
  font-weight: 600;
  color: $red;
  margin: 0 0 2em 0;
  padding: 0;
  text-transform: capitalize;
  display: block;
  &:before{
    content: "";
    display: block;
    width: 50px;
    height: 3px;
    background: $red;
    margin-bottom: 1.5em;
    opacity: 0.15;
  }
  &.large{
    color: black;
    font-size: 1.4em;
    margin-top: 1em;
    margin-bottom: 1em;
    &:before{
      opacity: 1;
      height: 5px;
    }
  }
  &.knockout{
    background: $red;
    color: white;
    margin: 0;
    padding: 0.25em 1em;
    display: inline-block;
    text-transform: uppercase;
    font-size: 1em;
    letter-spacing: 1px;
  }
  &.knockout:before{display: none}
}
h3{
  text-transform: uppercase;
  font-size: 1em;
  letter-spacing: 1px;
  color: $red;
  margin: 0;
  padding: 0.25em 0;
}
p.micro{
  color: white;
  text-transform: uppercase;
  font-size: 0.8em;
  font-weight: 600;
  letter-spacing: 1px;
}
@media screen and (min-width:50em){
  [class*="theme_"]{
    .pulled .section_title:before{
      margin-bottom: -40px;
    }
    .pulled .section_title:before{
      margin-bottom: -40px;
      height: 175px;
    }
    .pulled .section_title{
      min-width: 150px;
    }
    .pushed .section_title{
      background: none;
    }
    .single .section_title{
      min-width: 125px;
    }
    .section_title{
      margin: 0;
      padding: 0;
      display: inline-block;
      text-transform: uppercase;
      font-weight: 700;
      text-align: center;
      position: absolute;
      z-index: 20;
      top: 0;
      left: 50%;
      min-width: 125px;
      transform: translateX(-50%);
      letter-spacing: 0.75px;
      background: none;
      order: 2;
      width: auto;
      transition: opacity 350ms ease;
    }
    .section_title.has_list:after{
      position: relative;
      top: -1px;
      right: 0;
      float: right;
      margin-left: 10px;
      transform: none;
    }
    .has_back .section_title:after{
      position: relative;
      top: -1px;
      left: 0;
      float: left;
      margin-right: 10px;
      transform: none;
    }
    .section_title:before{
      content: '';
      display: block;
      height: 150px;
      margin-bottom: 20px;
    }
  }
}
